* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

:root {
  --purple-50: #a163f5;
  --purple-100: #4d44a0;
}

header {
  height: 16rem;
  background: #181a49;

  color: #fff;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile img {
  width: 21.25rem;
  height: 8rem;
}

#tablet img {
  width: 21.25rem;
  height: 8rem;
}

#desktop img {
  width: 35rem;
  height: 8rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.header-text p {
  background: var(--purple-100);
  width: 100%;

  padding: 1rem;

  text-align: center;
  font-size: 1.5rem;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

.opening-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48vw;
  max-height: 512px;
}

.opening-video iframe {
  height: 100%;
  width: 100vw;

  max-width: 1000px;
}

.audience {
  height: 10rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audience h2, .program h2 {
  font-size: 2rem;
  color: var(--purple-100);
}

.audience p {
  font-size: 1.2rem;
}

.audience a {
  text-decoration: none;
  color: var(--purple-50);
  border: 1px solid var(--purple-50);
  border-radius: 1rem;
  text-align: center;
  padding: .6rem;
  width: 6rem;
}

.audience a:hover {
  background: var(--purple-50);
  color: #fff;
}

hr {
  margin-bottom: 2rem;
}

.program ul {
  padding: 1rem;
}

.program li {
  margin-bottom: .4rem;
  font-size: 1.2rem;
  color: var(--purple-50);

  list-style: circle;
}

.program span {
  color: #000;
}

@media (min-width: 1001px) {
  #mobile {
    display: none;
  }

  #tablet {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 87.5%;
  }

  #desktop {
    display: none;
  }

  #tablet {
    display: none;
  }
}