* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #810e19;
}

.desktop {
  background: no-repeat url('./assets/images/fundo.jpg');
  background-size: cover;

  height: 100vh;

  border: 1px solid black;

}

.video {
  min-width: 245px;
  min-height: 130px;
  width: 20vw;
  height: 10.6vw;

  margin: 8.4vw 40vw 0 40vw;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.nav {
  height: 5vw;
  margin-top: 5vw;
  min-width: 1220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav button {
  padding: .5rem;
  margin-left: 0.6vw;
  background: var(--red);
  border-radius: .6rem;
  border: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: .06rem;
  font-size: 1rem;
}

.nav a:visited {
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .video {
    margin: 102px 490px 60px 490px;
  }
}